---
const { elements } = Astro.props;
import ArrayBox from './ArrayBox.astro';
---
<div class="div text-white">LINEAR SEARCH</div>
{
elements.length > 0 && (
  <div class="flex justify-center gap-4 mt-8">
    {
      elements.map((num:number, i:number) => <ArrayBox id={i} index={i} value={num} />)
    }
  </div>
)}

<script>

</script>