---
const { elements } = Astro.props;
import ArrayBox from './ArrayBox.astro';
---
<!-- 
{elements.length > 0 && (
  <div class="flex justify-center gap-4 mt-8">
    {
      elements.map((num:number, i:number) => <ArrayBox id={i} value={num} />)
    }
  </div>
)} -->

<div class="test">
    test
</div>
